.books_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.book {
  margin: 30px;
  padding: 5% 10%;
  border-radius: 5px;
  background-color: #efefef;
}

.description_textarea {
  height: 30px;
}

.info_textarea {
  height: 100px;
}

.book_title {
  font-weight: bold;
  text-align: right;
}

.no_books_message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: flicker 2s infinite;
  font-weight: bold;
  font-size: 1.5rem;
}

.edit_button {
  display: block;
}

.delete_button {
  margin-bottom: 10px;
  padding: 10px 30px;
  border-radius: 2px;
  border: none;
  color: white;
  background-color: #891717;
  font-weight: bold;
}

.delete_button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.price_textarea {
  text-align: center;
  width: 100px;
}

.book_image {
  margin-top: 10px;
  text-align: center;
  height: 150px;
  width: auto;
}

.book_btn {
  padding: 10px 30px;
  border-radius: 2px;
  border: none;
  color: white;
  background-color: #32515c;
  font-weight: bold;
}

.book_btn:hover {
  cursor: pointer;
  opacity: 0.9;
}
