@media screen and (max-width: 1360px) {
  #body {
    margin: 0 5%;
  }

  #header {
    text-align: center;
  }

  #books_list {
    grid-template-columns: repeat(2, 1fr);
  }

  #banners_list {
    grid-template-columns: repeat(1, 1fr);
  } 

  #book_btn {
    display: block;
    margin: 10px 0px;
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  #books_list {
    grid-template-columns: repeat(1, 1fr);
  }
}
